<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600|Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
    <title>Vaishnav Bharadwaj</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Vaishnav Bharadwaj</a>
        
    </nav>

    <div class="img">
        <img src="/images/profile.jpg" alt="">
    </div>

    <div class="bodytext">
        <h1>Hi, i'm Vaishnav Bharadwaj</h1>
        <h2>Fullstack Web Developer</h2>

        <div class="cta">
            <button class="cta-select">Contact Me</button>
            <button class="cta-add">See my Projects</button>
        </div>

        <img class="big-circle" src="/images/big-eclipse.svg" alt="">
        <img class="mid-circle" src="/images/mid-eclipse.svg" alt="">

    </div>

    <footer class="page-footer font-small special-color-dark pt-4">
        <div class="container">
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a  id="facebook" class="btn-floating btn-fb mx-1" href="http://www.google.com">
                        <i class="fab fa-facebook-f fa-2x"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-li mx-1" href="www.google.com">
                        <i class="fab fa-linkedin-in fa-2x"> </i>
                    </a>
                </li>
                
            </ul>
        </div>

        
    
    </footer>
    
    <script src="/js/app.js"></script>
</body>
</html>