<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600|Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/table.css">
    <title>Projects</title>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Number</th>
                <th scope="col">Project Name</th>
                <th scope="col">Project Link</th>
                </tr>
            </thead>
        <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Youtube clone</td>
      <td><a href="https://vaishnav-youtube.netlify.app/">Youtube Clone</a></td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Unsplash clone</td>
      <td><a href="https://vaishnav-unsplash.netlify.app/">Unsplash Clone</a></td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Chat application</td>
      <td><a href="https://vaishnav-chat-app.herokuapp.com/">Chat Application</a></td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>COVID-19 tracker</td>
      <td><a href="https://vaishnav-covid-tracker.herokuapp.com/">COVID-19 Tracker</a></td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td>Movie Finder</td>
      <td><a href="https://vaishnav-movie-application.herokuapp.com/">Movie Finder</a></td>
    </tr>

    <tr>
      <th scope="row">6</th>
      <td>Color guessing game</td>
      <td><a href="https://vaishnav-color-guessing-game.herokuapp.com/">Color game</a></td>
    </tr>

    <tr>
      <th scope="row">7</th>
      <td>Weather Application</td>
      <td><a href="https://vaishnav-weather-application.herokuapp.com/">Weather Application</a></td>
    </tr>

  </tbody>
</table>

    <h3>For more Project visit my GitHub page!</h3>
    </div>

    <img class="big-circle" src="/images/big-eclipse.svg" alt="">
        <img class="mid-circle" src="/images/mid-eclipse.svg" alt="">
<footer>
    <p>Copyright &copy 2020 Vaishnav Bharadwaj</p>
</footer>
</body>
</html>